<!DOCTYPE html>
<html>
<head>
    <title>All the Authors</title>
</head>
<body>

    <h1>All the authors</h1>

    <ul>
        <% @authors.each do |author| %>
           <li><a href="/authors/<%= author.id %>"><%= author.name %></a></li>
        <% end %>
    </ul>
</body>
</html>